In [12]:
import pandas as pd

op_rock = 'A'
op_paper = 'B'
op_scissor = 'C'

me_rock = 1
me_paper = 2
me_scissor = 3

win = 6
draw = 3
loss = 0

fn = r"C:\DevLab\local\adventofcode\day02\input_day02.txt"

df = pd.read_csv(fn, header=None, sep=" ")
df.columns =['Op', 'Me']
df['OpInt'] = df['Op']
df['MeInt'] = df['Me']
df

     Op Me OpInt MeInt
0     B  X     B     X
1     A  Z     A     Z
2     A  Y     A     Y
3     B  X     B     X
4     C  Z     C     Z
...  .. ..   ...   ...
2495  C  Y     C     Y
2496  B  Y     B     Y
2497  C  Y     C     Y
2498  C  Y     C     Y
2499  B  Y     B     Y

[2500 rows x 4 columns]

In [10]:
df['OpInt'] = df['Op']
df.replace({'OpInt': A}, 100)

In [11]:
df

     Op Me OpInt
0     B  X     B
1     A  Z     A
2     A  Y     A
3     B  X     B
4     C  Z     C
...  .. ..   ...
2495  C  Y     C
2496  B  Y     B
2497  C  Y     C
2498  C  Y     C
2499  B  Y     B

[2500 rows x 3 columns]

In [ ]:
(1 for Rock, 2 for Paper, and 3 for Scissors)